<div class="row">
    <div class="col-sm-2 offset-sm-1">
        <ul class=" list-group mb-4">
            <li class="list-group-item" *ngFor="let prodObj of productsArray" [routerLink]="['/products',prodObj.id]"
                routerLinkActive="active" [queryParams]="{canEdit:prodObj.canReturn}">
                {{prodObj.pname}}
            </li>
        </ul>
    </div>

    <div class="col-sm-8 offset-sm-1">

        <div class="card shadow">
            <div class="card-body">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>