<!-- <p>fair-details works!</p> -->
<!-- {{fairObj | json}} -->


<div class="bannerContainer shadow-lg  mb-5">

    <div class="img-gradient shadow">
        <img [src]="fairObj.bannerUrl" alt="" class="img-fluid">
    </div>







    <div class="banner-content text-white">
        <h1 class="font-weight-bold mb-1">
            {{fairObj.fairName}}
        </h1>

        <h3 class="mb-1">
            {{fairObj.startDate | date}} - {{fairObj.endDate | date}}
        </h3>

        <button class="upgradeBtn">
            Upgrade to Register for Fair
        </button>
    </div>
</div>


<div class="date_location p-4">
    <div class="row">
        <div class="col-sm-4">

            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-secondary">
                            <i class="fa-solid fa-calendar-days text-secondary"></i>
                            Date
                        </h3>
                    </div>
                    <p>
                        {{fairObj.startDate | date}}
                    </p>
                    <p>
                        {{fairObj.endDate | date}}
                    </p>
                    <p>
                        {{fairObj.fairStartTime}} - {{fairObj.fairEndTime}}
                    </p>
                    <p>
                        {{fairObj.timezoneId}}
                    </p>

                    <a href="javascrpt:;" class="d-block my-3">Add to calender</a>

                    <h4 class="text-secondary">
                        Last Registration Date
                    </h4>
                    <p>
                        {{fairObj.endDate | date}}
                    </p>
                </div>
            </div>


        </div>
        <div class="col-sm-4">

            <div class="card">
                <div class="card-body">

                    <div class="card-title">
                        <h3 class="text-secondary">
                            <i class="fa-solid fa-location-dot text-secondary"></i>
                            Location
                        </h3>
                    </div>

                    <div class="upgrade_plan d-flex justify-content-center align-items-center text-secondary">
                        <i class="fa-solid fa-lock fa-3x"></i>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>


<div class="row">
    <div class="col-12 mt-5">
        <h4 class="font-weight-bold">Description</h4>
        <div [innerHTML]="fairObj.candidateDescription">

        </div>
    </div>
</div>
>

<!-- <div [innerHTML]="fairObj.schoolDescription">

</div> -->